# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.csv
!data/ML_olist.csv
!data/merged_olist.csv
!data/risk_report_result.csv
*.xlsx
*.png
*.pdf

# Streamlit
.streamlit/secrets.toml
